@(users: List[User], searchForm: Form[String])

@main("Users list") {

    <a href="/users">Show all</a> | <a href="/users/add">New user</a><br><br>

    @helper.form(action = routes.Users.list()) {
        <fieldset>
            @helper.inputText(searchForm("searchName"), '_label -> "Name")
            <input type="submit" value="Search">
        </fieldset>
    }

    <h1>Users:</h1>
    @for(user <- users) {
        <a href="/users/get/@user.id">@user.firstName @user.lastName</a><br>

    }
}